{% extends "base.html" %} {% block title %}Accessibility - ProEmPo{% endblock %} {% block content %}

<h1 align="center">Accessibility</h1>


<style>
    /* Define your CSS styles here */
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    .Accessibility-container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        background-color: #fcfcfc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
    background-color: rgba(152, 125, 209, 0.65);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 0 50px rgba(172, 123, 196, 0.5);
    }

    p {
        font-size: 16px;
        color: #555;
        line-height: 1.5;
    }
</style>
</head>
<body>

<div class="Accessibility-container">
   

</div>
</body>





{% endblock %}