<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <body>
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container-fluid">
        <div class="navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" style="text-align: center;
        list-style-position: inside;
        padding: 0px;">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" id="home" href="/">
                <i class="fa fa-house"></i>&nbsp;
                {% if user.language == "ro" %}
                Pagina Principală
                {% else %}
                Home
                {% endif %}</a
              >
            </li>
            {% if user.hide_self_help != 1 %}
            <li class="nav-item">
              <a class="nav-link" id="Help" href="/help">
                <i class="fa fa-brain"></i>&nbsp;
                
                {% if user.language == "ro" %}
                Ajutor Personal
                {% else %}
                Self Help
                {% endif %}
                </a
              >
            </li>
            {% endif %}
            {% if user.hide_tasks != 1 %}
            <li class="nav-item">
              <a class="nav-link" id="To do" href="/tasks">
                <i class="fa fa-list"></i>&nbsp;
                {% if user.language == "ro" %}
                Sarcini
                {% else %}
                Tasks
                {% endif %}</a
              >
            </li>
            {% endif %}
            {% if user.hide_journal != 1 %}
            <li class="nav-item">
              <a class="nav-link" id="Journal" href="/journal">
                <i class="fa fa-book-open"></i>&nbsp;
                {% if user.language == "ro" %}
                Verificare Zilnică
                {% else %}
                Daily Check-In
                {% endif %}</a
              >
            </li>
            {% endif %}
            {% if user.hide_reports != 1 %}
              <li class="nav-item">
                <a class="nav-link" id="reports" href="/reports">
                  <i class="fa-solid fa-chart-column">‌</i>&nbsp;
                  {% if user.language == "ro" %}
                  Rapoarte
                  {% else %}
                  Reports
                  {% endif %}</a
                >
              </li>
            </li>
            {% endif %}
            {% if user.hide_player != 1 %}
              <li class="nav-item">
                <a class="nav-link" id="player" href="/player"
                target="popup"
                onclick="window.open('/player','popup','width=600,height=600'); return false;"">
                  <i class="fa-solid fa-headphones">‌</i>&nbsp;
                  {% if user.language == "ro" %}
                  Zgomot Alb
                  {% else %}
                  Noise Player
                  {% endif %}</a
                >
              </li>
            </li>
            {% endif %}
            
            
          </ul>
          <ul class="navbar-nav ml-auto" id="navbar" style="text-align: center;
          list-style-position: inside;
          padding: 0px;">
          {% if user.is_authenticated %}
            <!-- Align items to the right -->
            <li class="nav-item">
              <a class="nav-link" id="About" href="/About">
                <i class="fa fa-circle-info"></i>&nbsp;
                {% if user.language == "ro" %}
                Despre
                {% else %}
                About
                {% endif %}</a>
              <!--About link on nav bar-->
            </li>
            <li class="nav-item">
              <a class="nav-link" id="FAQ" href="/FAQ">
                <i class="fa fa-circle-question"></i>&nbsp;
                {% if user.language == "ro" %}
                FAQ
                {% else %}
                FAQ
                {% endif %}</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Support" href="/Support">
                <i class="fa fa-circle-user"></i>&nbsp;
                {% if user.language == "ro" %}
                Asistență
                {% else %}
                Support
                {% endif %}
                </a
              >
              <!--Support link on nav bar-->
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Settings" href="/settings">
                <i class ="fa fa-cog"></i>&nbsp;
                {% if user.language == "ro" %}
                Setări
                {% else %}
                Settings
                {% endif %}</a>
                <!--Settings link on nav bar-->
            </li>
            <li class="nav-item">
              <a class="nav-link" id="logout" href="/logout">
                {% if user.language == "ro" %}
                Deconectare
                {% else %}
                Logout
                {% endif %}&nbsp;<i class="fa fa-right-from-bracket"></i
              ></a>
            </li>
            {% else %}
            <br />
            {% endif %}{% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %} {% if user.is_authenticated %}
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endif %} {% endfor %} {% endif %} {% endwith %}
    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    {% block javascript %}
    <script type="text/javascript">
      function deleteTask(taskId) {
        fetch("/delete-task", {
          method: "POST",
          body: JSON.stringify({ taskId: taskId }),
        }).then((_res) => {
          window.location.href = "/tasks";
        });
      }
    </script>
    <script type="text/javascript">
      function markTask(taskId) {
        fetch("/mark-task", {
          method: "POST",
          body: JSON.stringify({ taskId: taskId }),
        }).then((_res) => {
          window.location.href = "/tasks";
        });
      }
    </script>
    <script>
      function starTask(taskId) {
        fetch("/star-task", {
          method: "POST",
          body: JSON.stringify({ taskId: taskId }),
        }).then((_res) => {
          window.location.href = "/tasks";
        });
      }
    </script>
    <script type="text/javascript">
      function unMarkTask(finishedTaskId) {
        fetch("/unmark-task", {
          method: "POST",
          body: JSON.stringify({ finishedTaskId: finishedTaskId }),
        }).then((_res) => {
          window.location.href = "/tasks";
        });
      }
    </script>
    <script type="text/javascript">
      function returnTask(archivedTaskId) {
  fetch("/return-task", {
    method: "POST",
    body: JSON.stringify({ archivedTaskId: archivedTaskId }),
  }).then((_res) => {
    window.top.location.reload();
    window.location.href = "/archivedtasks";
  });
}
    </script>
    <script type="text/javascript">
      function deleteFinishedTask(finishedTaskId) {
        fetch("/delete-finished-task", {
          method: "POST",
          body: JSON.stringify({ finishedTaskId: finishedTaskId }),
        }).then((_res) => {
          window.location.href = "/tasks";
        });
      }
    </script>
    <script>
      function deleteArchivedTask(archivedTaskId) {
        if (confirm("{{archiveWarning}}")) {
          fetch("/delete-archived-task", {
            method: "POST",
            body: JSON.stringify({ archivedTaskId: archivedTaskId }),
          }).then((_res) => {
            window.location.href = "/archivedtasks";
          });
        }
      }
    </script>

    <style>
      body {
        background-color: #f7eefdd3;
        /*Below fixes the position for the footer*/
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: Arial, sans-serif;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }

      .navbar {
        background-color: #e8d6f4d3;
        padding: 0;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 10px;
        
      }

      /*.navbar-nav {
        align-items: center;
        width: 100%;
        justify-content: center;
        } 
        */

      .nav-item {
        margin: 0 6.5px; /* Add spacing between the nav items */
        /*border-left: 1px solid rgba(0,0,0,.5)*/ /*Separator between items*/
      }

      .alert {
        background-color: #585a58d5;
        text-align: center;
        border: #585a58d5;
        color: rgb(245, 231, 231);
        width: 50%;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
      }
      footer {
        bottom: 0;
        width: 100%;
        height: 2.5rem;
      }
    </style>
    {% endblock %}
  </body>
  <footer id="copyright">
    <p><center>&copy; Copyright 2023. All Rights Reserved.</center></p>
  </footer>
</html>
