<title>Meditation - ProEmPo</title>
<body>
    <div class="circle">
      <div class="popup" id="inhale">inhale</div>
      <div class="popup" id="exhale">exhale</div>
    </div>
    </body>
    
    <style>
      body {
        background-image: url(https://media0.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif?cid=ecf05e471x42y66oerd76jxivt3c1z7apmxdib5w1wv0x1lx&ep=v1_gifs_search&rid=giphy.gif&ct=g),
        linear-gradient(90deg, rgba(134, 88, 208, 0.723) 0%, rgba(67, 64, 245, 0.835) 100%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        height: 100vh;
      }
      .circle {
        background-color: rgba(255, 255, 255, 0.85);
        width: 35vh;
        height: 35vh;
        border-radius: 50%;
        position: absolute;
        top: 42%;
        left: 50%;
        margin-top: -17.5vh;
        margin-left: -17.5vh;
      }
      .circle{
        animation-name: breathing-circle;
        animation-duration: 11s;
        animation-iteration-count: infinite;
      }
      @keyframes breathing-circle {
        0% {
          transform: scale(1);
        }
        41% {
          transform: scale(1.4);
        }
        49% {
          transform: scale(1.4);
        }
        90% {
          transform: scale(1);
        }
        100% {
          transform: scale(1);
        }
      }
      .popup {
        font-size: 10vh;
        color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 33%;
        left: 11%;
        padding-left: 10px;
      }
      .circle #inhale {
        animation-name: inh-direction;
        animation-duration: 11s;
        animation-iteration-count: infinite;
      }
      .circle #exhale {
        animation-name: exh-direction;
        animation-duration: 11s;
        animation-iteration-count: infinite;
      }
      @keyframes inh-direction {
        0% {
          color: rgba(253, 193, 140, 0);
        }
        10% {
          color: rgb(99, 99, 244);
        }
        40% {
          color: rgb(49, 49, 246);
        }
        50% {
          color: rgba(253, 193, 140, 0);
        }
      }
      @keyframes exh-direction {
        0% {
          color: rgba(253, 193, 140, 0);
        }
        50% {
          color: rgba(253, 193, 140, 0);
        }
        60% {
          color: rgb(49, 49, 246);
        }
        90% {
          color: rgb(49, 49, 246);
        }
        100% {
          color: rgba(253, 193, 140, 0);
        }
      }
    </style>
    